<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <body background="{{ url_for('static', filename='Overlay_Versionv4.jpg'  ) }}"   >
    <title>Text Summarization Tool</title>
</head>
<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


    <h1 style="color:white;text-align:center;font-size:60px">Speed up Claims Processing(SuCP) - Developed by Alan He</h1>

    <form action="" enctype='multipart/form-data' method='POST'>
      <br>
      <br>
      <br>
      <br>

        <i style="margin-left:26em; color:white;">   </i>     <input type="file" name="file" value ='Choose a file' style="margin-top:20px;font-size:20px;color:white;text-align:center"/>


      <input type="text" class="txt_input" name="name" value="Patient ID" style="margin-top:10px;margin-left:2.5em;font-size:20px;"/> <!--  value="超超开心" -->
      <input type="text" class="txt_input" name="name" value="Provider ID" style="margin-top:10px;font-size:20px;"/> <!--  value="超超开心" -->
      <input type="submit" value="Upload" class="button-new" style="margin-top:15px;font-size:20px"/>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <i style="margin-left:30em; color:white;font-size:28px;"> Email: Zhaojiang.he.2021@anderson.ucla.edu  </i>


    </form>
</body>
</html>
